body {
    font-family: 'Latin Modern Mono', 'Courier New', Courier, monospace;
    background-color: #efefef;
}
section, div#home {
    padding-top: 30px;
}
hr {
    background-color: #ffffff;
}
.display-4 {
    color: #424242;
}
.card {
    border: none !important;
}
.card-shadow {
    -webkit-box-shadow: 0px 13px 34px -3px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 13px 34px -3px rgba(0,0,0,0.16);
    box-shadow: 0px 13px 34px -3px rgba(0,0,0,0.16);
}
.card-rounded {
    border-radius: 15px !important;
}
.top-rounded {
    border-radius: 15px 15px 0px 0px !important;
}
.bottom-rounded {
    border-radius: 0px 0px 15px 15px !important;
}
.bg-yournal {
    background-color: #1976d2;
}

/* Home */
@media (min-width: 576px) {
}
@media (min-width: 1000px) {
    .container {
        padding-left: 150px;
        padding-right: 150px;
    }
}
.social-item {
    font-size: 15px;
    color: #555;
}
.bg-instagram {
    color: white;
    background-color: #ad1457;
}

/* Gallery */
.swiper-container {
    width: 100%;
    height: 500px;
}
.swiper-slide {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.vignette {
    -webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.6);
    -moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.6);
    box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.6);
}

figcaption {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #FFF;
    background: rgba(0,0,0,.5);
    text-shadow: 2px 2px 6px black; 
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 30px;
}

/* Projects */
.btn {
    margin-bottom: 4px;
}
.bg-product {
    background-color: #f6f6f6;
}
@media (min-width: 576px) {
    .card-columns {column-count: 1;}
}
@media (min-width: 768px) {
    .card-columns {column-count: 2;}
}
@media (min-width: 1000px) {
    .card-columns {column-count: 2;}
}
@media (min-width: 1200px) {
    .card-columns {column-count: 3;}
}
/* Freelance */
.muted-light {
    font-weight: lighter;
}

/* Footer */
.footer-copyright {
    color: #ffffff;
    background-color: #1976d2;
    padding: 10px;
}
